$primary-color:  #e53935; /* red-darken-1 */
@import "ember-data-table";

.main-content {
  margin-top: 25px;
}

.col.table-example {
  border-left: 2px solid #e53935;
  padding-left: 20px;
}

.option-panel .options {
  padding-top: 10px;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #e53935;
  background-color: #e53935;
}
