<nav>
  <div class="nav-wrapper">
    <a href="https://github.com/mu-semtech/ember-data-table" class="brand-logo center">Ember Data Table</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="badges.html">Advanced</a></li>
      {{link-to 'Example' 'books'}}
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>