<nav>
  <div class="nav-wrapper">
    <a href="https://github.com/mu-semtech/ember-data-table" class="brand-logo center">Ember Data Table demo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{link-to 'Simple example' 'books'}}</li>
      <li>{{link-to 'Advanced example' 'advanced'}}</li>
      <li><a href="https://github.com/mu-semtech/ember-data-table" class="no-hover">{{fa-icon "github" size=3}}</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>